<!-- THIS IS THE NAV-BAR SERCTION -->

<app-nav-bar></app-nav-bar>

<br>
<br>

<!-- THIS IS THE CARACTERS SECTION -->

<div class="container">
  <div class="texto">
    <div class="titulo">
      <h2 class="title">CARACTERS</h2>
    </div>
    <br>
    <div class="people">
      <div >
        <p *ngFor="let item of caracters" class="txt">{{item}}</p>
      </div>
      <div >
        <p *ngFor="let item of caracters2" class="txt">{{item}}</p>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!-- THIS IS THS CARD SECTION, WITH THE ZORO'S SWORD -->

<app-card></app-card>